.animal{
  color: white;
  font-weight: bold;
  background-color: #936c86;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
/* h1{
  color: #e60000;
   font-family: "Brush Script MT", Cursive;
} */
h2{
  font-family: Arial, Helvetica, sans-serif;
  color: #ffaa80;
}
.test{
  color: black;
  background-color: #ffaa80;
}
